header {

    background-color: rgb(50,50,50);


    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

    justify-content: space-between;
    text-align: center;
}

body {
    background-color: rgb(50,50,50);
    color: #fff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;

}

h1 {
    font-size: 20px;
}


h3 {

    margin-left: 10%;
    margin-right: 10%;
    font-weight: normal;
    font-size: 30px;
}


h4 {
    margin-left: 10%;
    margin-right: 10%;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
}


h5 {
    margin-top: 50px;
    font-weight: 100;
    font-size: 23px;
}

/*본문*/
h6 {
    margin-left: 10%;
    margin-right: 10%;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
}


menu {
    list-style: none;
    text-align: left;
}

a {
    color: #Ff0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;

}

a:hover,
a:active,
a:focus {
    color: aqua;
    outline: none;
    text-decoration:underline wavy;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.content {
    padding: 3rem;
    font-size: 2rem;
    border-radius: 1rem;
}

::selection {
    color: #fff;
    background: yellow;
}

.wimg {
    width: 80%;
    max-width: 800px;
    max-height: fit-content;
}

.himg {
    width: 80%;
    max-width: fit-content;
    max-height: 800px;
}


footer {

    margin-right: 10%;
    font-weight: normal;
    font-size: 12px;
    text-align: right;

}


@media only screen and (max-width: 768px) {

    header {
        background-color: rgb(50,50,50);
        justify-content: space-between;
        text-align: center;
    }

    body {
        background-color: rgb(50,50,50);
        color: #fff;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        line-height: 1.5;

    }

    h2 {
        margin-left: 10%;
        margin-right: 10%;
        font-weight: bold;
        font-size: 22px;
    }

    h3 {
        margin-left: 10%;
        margin-right: 10%;
        font-weight: normal;
        font-size: 20px;
    }

    h4 {
        margin-left: 10%;
        margin-right: 10%;
        font-weight: normal;
        font-size: 20px;
        text-align: left;
    }

    h5 {
        margin-top: 50px;
        font-weight: 100;
        font-size: 16px;
    }

    h6 {
        font-weight: 100;
        font-size: 15;
        text-align: left;
        margin-left: 15%;
    }


    ul {
        text-align: left;
        margin-left: 15%
    }

    a {
        color: yellow;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        text-decoration: none;

    }

    a:hover,
    a:active,
    a:focus {
        color: rgb(50,50,50);
        outline: none;
        text-decoration: none;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100dvh;
    }

    .content {
        padding: 3rem;
        font-size: 2rem;
        border-radius: 1rem;
    }

    ::selection {
        color: rgb(50,50,50);
        background: yellow;
    }

    .wimg {
        width: 70%;
        max-width: 800px;
        max-height: fit-content;
    }

    .himg {
        width: 70%;
        max-width: fit-content;
        max-height: 800px;
    }



}